* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #000;
    color: #fff;
    font-weight: 600;
}

p {
    font-size: 3rem;

}

.vc {
    color: blueviolet;

}

.typed-text {
    color: #20c20e;
}

.cursor {
    background: #20c20e;
}